@()

@main {
  <title>作者情報</title>
} {
  @about_head("author") {
    <h2>ぽんこつ</h2>
    <p>最近は結構PullRequest貰えますが、昔はほぼ1人でやってました。家のサーバでMyFleetGirls動かしてます。口癖はPull Request下さい</p>
    <ul>
      <li><a href="https://twitter.com/ponkotuy/">Twitter(@@ponkotuy)</a></li>
      <li><a href="https://github.com/ponkotuy/">GitHub(ponkotuy)</a></li>
      <li><a href="http://www.amazon.co.jp/registry/wishlist/24XYZ0PSKBDSE">Amazon欲しい物リスト</a></li>
      <li><a href="mailto:web@@ponkotuy.com">メール</a>（あんまチェックしてないので他の連絡手段との併用を推奨。Twitterにメールしましたリプをするとか</li>
    </ul>

    <h2>Contributorの方へ</h2>
    <p>MyFleetGirlsにPull Requestしたことあって、情報載せたい人は、上に自分の情報を追記して<a href="https://github.com/ponkotuy/myfleet_web">myfleet_web</a>にPull Request投げてください</p>
  }
}
