@()

@main {
  <title>FAQ</title>
} {
  @about_head("faq") {
    <h3 id="password"><a href="#password">Q.パスワードってなんですか</a></h3>
    <p>
      MyFleetGirls で使用するパスワードです。艦これ内のmember_idと紐付けられています。
      嫁鑑を設定したり、艦隊のSnapshotを取るときに必須となります。
      一度パスワードでログインすると、以後Clientからのデータ転送にもパスワードが必要です。
      <strong>DMMのアカウントとは関係ありません。</strong>
    </p>

    <h3 id="pass_config"><a href="#pass_config">Q.パスワードはどうやって設定しますか</a></h3>
    <p>
      application.confに設定を書きます。書き方はapplication.conf.sampleを参考に、auth.passを設定してください。
      application.confが無い場合は、application.conf.sampleをコピーして作成してください。
      その後にMyFleetGirlsを起動すればOKです。
    </p>

    <h3 id="pass_confirm"><a href="#pass_confirm">Q.パスワード設定出来たかどうか分からない</a></h3>
    <p>
      v1.3.7 より、クライアントを起動した際にパスワードが設定されているかの表示を行うようにしました。
    </p>

    <h3 id="backup"><a href="#backup">Q.バックアップはどうすればいいか。他の PC でつかうには？</a></h3>
    <p>
      MyFeetGirls で使用するデータはすべてサーバーに保存されています。
      application.conf のみ、定期的にバックアップを取るなどの対処を取ってください。
      他の PC で利用する際も application.conf をコピーした上で利用設定を行ってください。
    </p>

    <h3 id="jar_error"><a href="#jar_error">Q.jar file corrupt と言うエラーが出て動作しない</a></h3>
    <p>MyFleetGirls.jar が壊れている物と思います。以下の手順に従って再度ダウンロードしてください。</p>
    <ol>
      <li>ダウンローダーを更新する （ 公式 ZIP ファイルを解凍して丸ごと上書きで OK ）</li>
      <li>MyFleetGirls.jar を削除する</li>
      <li>MyFleetGirls を起動する</li>
    </ol>
    <p>
      あまりにも頻発する、もしくは壊れる原因が特定出来そうな場合ご連絡をお願いします。
    </p>

    <h3 id="yome"><a href="#yome">Q.嫁艦ってなに</a></h3>
    <p>
      好きな艦娘を他人に見せびらかせる機能です。ユーザのトップページに表示されます。
      内部的には4人まで設定することができます。
    </p>

    <h3 id="auth"><a href="#auth">Q.艦これの認証データとかTokenとか送ったりしてないですよね！？</a></h3>
    <p>
      送ってないです。ただし技術的には可能です。ぽんこつさんを信用できるか、公開されたコードを読める人のみ利用してください。
    </p>

    <h3 id="publish"><a href="#publish">Q.どれぐらいのデータが公開されますか</a></h3>
    <p>
      艦これの情報ほぼ全部と思って下さい。現在公開していないデータでも将来的に取得・公開するようになる可能性があります。
      そしてそれらは少なくともぽんこつさんには見えていますし、他の人にも見える状態で公開することが多いです。
      今のところ例外は演習の対戦相手です。本人以外のデータは取らないように心掛けています。
    </p>

    <h3 id="pass_forget"><a href="#pass_forget">Q.パスワード忘れてしまいました・再設定したい</a></h3>
    <p>
      実際にはパスワードがまだ設定されていないケースが度々見られます。FAQ も参照してください。
    </p>
    <p>
      現在パスワードリセット機能はありません。
      公式Twitter（<a href="https://twitter.com/MyFleetGirls">@@MyFleetGirls</a>）
      または作者（<a href="https://twitter.com/ponkotuy">@@ponkotuy</a>）まで連絡いただければ手動でリセットします。
      軽い本人確認することもあるかと思いますがご協力お願いします。
    </p>

    <h3 id="map"><a href="#map">Q.海域マップのアルファベットが付いてない海域があるんだけど</a></h3>
    <p>
      海域マップのアルファベットは手動で付けていますので、皆様からの情報提供が頼りです。
      特に新海域の追加やイベント海域ではどうしても最新の情報には追いつけません。
      <a href="https://docs.google.com/spreadsheets/d/1iAFrEpw64nc8YnVcyNb9hjG0jb1UMy_29zKhRlKc7Ig/edit#gid=0">Google Spreadsheet</a>にだれでも書き込めるようにしてあるので、記入をお願いします。
    </p>

    <h3 id="ship_id"><a href="#ship_id">Q.なんかユーザの艦娘図鑑に100000越えの鑑娘がいるんだけど</a></h3>
    <p>仕様です。</p>
    <p>
      別の画像が登録される艦娘は、内部的に+100000番したものを、別の艦娘のように扱っています。
    </p>

    <h3 id="quest"><a href="#quest">Q.任務達成時にMyFleetGirlsに繋いでおらず、任務達成されないんだけど</a></h3>
    <p>
      仕様です。艦これ側の仕様により、任務達成した状態で任務一覧を見てMyFleetGirlsにデータ転送するのを逃すと、二度と任務達成のデータは取得できなくなり、MyFleetGirls側で任務達成の状態になりません。
    </p>
    <p>MyFleetGirlsサイトにログインした状態で自分の任務ページにアクセスすると手動達成ボタンが表示されるので、手動で達成状態にする事が出来ます。</p>

    <h3 id="data_update"><a href="#data_update">Q.○のデータが更新されないんだけど</a></h3>
    <p>
      艦これの仕様によって普通にプレイしているだけではなかなか取れないデータがいくつかあります。<br>
      特定のページを閲覧したり、特定の操作を行う事で MyFleetGirls へデータが送信される様になっています。<br>
      また、データ量を減らすために、変更量が少ない場合は保存しないことがあります。<br>
      すべてについて書いてしまうと膨大な量になるので以下に一部のみ記述します。<br>
      他に知りたい物があればお問い合わせ下さい。逐次このページを更新していきます。
    </p>
    <dl>
      <dt>図鑑</dt>
      <dd>すべての図鑑を表示してください。左のタブを全てクリックするだけで大丈夫です。</dd>
      <dt id="battle_score">戦果グラフ</dt>
      <dd>戦績表示-&gt;戦果一覧を表示させて下さい。</dd>
      <dt>資源グラフ</dt>
      <dd>特に特別な操作は必要無いですが、すべて記録しているとサーバー容量を圧迫する為、
      一定程度の変動が有った場合のみ更新されます。</dd>
      <dt>提督経験値グラフ</dt>
      <dd>特に特別な操作は必要無いですが、すべて記録しているとサーバー容量を圧迫する為、
      一定程度の変動が有った場合のみ更新されます。</dd>
    </dl>

    <h3 id="data_delete"><a href="#data_delete">Q.ユーザデータを削除して欲しい</a></h3>
    <p>
      現在のMyFleetGirlsにはユーザが送信したデータを削除する機能がありません。
      手動で削除することも不可能です。
      登録は慎重にお願いします。
    </p>

    <h3 id="update"><a href="#update">Q.バージョンアップ等は必要？</a></h3>
    <p>
      MyFleetGirls では Java(JRE) を利用している為、こちらは出来るだけ最新のものを使用してください。
      MyFleetGirls 自身の更新は殆どの場合自動で行われます。
      別途手動での更新が必要な場合は、公式Twitter（<a href="https://twitter.com/MyFleetGirls">@@MyFleetGirls</a>）から告知していますのでそちらをご覧下さい。
    </p>

    <h3 id="browser"><a href="#browser">Q.艦これ専用ブラウザや他のツールとの併用は可能？</a></h3>
    <p>
      通信の加工等は行っていない為、併用出来るケースも多いと思いますし実際に使用されている方も居ると伺っています。
      ただし、様々なツールがありそれぞれの設定方法が多岐にわたる為、個別のツールとの相性や設定方法にはお答えしていません。
      個々の責任において分かる範囲で利用して頂ければと思います。（ なお、作者自身は MyFleetGirls 以外のツールを使っていません ）
    </p>
    <p>
      ただ、殆どのケースにおいて言えることとして、MyFleetGirls はゲームサーバーとの通信しかサポートしておらず艦これのログインページなどには対応していません。<br>
      この為、こちらで提供している <a href="https://myfleet.moe/assets/proxy.pac">proxy.pac</a>を利用するか、同じ事を行えるブラウザ拡張等を利用する必要があります<br>
      いわゆる専ブラの類にある Proxy 設定では上手くいかないケースは多いかも知れません。
    </p>

    <h3 id="support"><a href="#support">Q.対応ブラウザは？</a></h3>
    <p>
      MyFleetGirls サイトは最新のFirefox、Chrome、IEで動作を確認しています。ただリソース不足もあってちゃんとチェックできておらず、もしバグっぽいなと思ったら遠慮なく作者まで報告してください。
      開発はFirefoxで行なっているので、Firefoxが確実です。
    </p>

    <h3 id="proxy"><a href="#proxy">Q.不正な通信をおこなっていますか？</a></h3>
    <p>
      Proxy として動作し、艦これサーバーとブラウザの通信をのぞき見ていますが余計な通信を発生させることはありません。<br>
      また意図的に通信に改ざんを加えることも行っていませんが、作者のミスまたは通常のブラウザの動作としておかしくない範囲内で調整している場合はあります。
      どうしても気になる方は、利用を控えた方が良いかも知れません。
    </p>

    <h3 id="server"><a href="#server">Q.サーバーはどこで動作していますか？（データはどこにありますか）</a></h3>
    <p>作者が個人で運用しているサーバーで運用しています。趣味サーバーなので時々止まるかも知れません</p>
    <p>費用等はすべて自腹なので、変なアクセスをしてみたりと言ったイタズラは勘弁して下さい m(_ _)m </p>
    <p>クロールしたい場合は作者に相談してください。</p>

    <h3 id="want"><a href="#want">Q.欲しい機能があるんだけど</a></h3>
    <p>GitHubというソースコードを共有するサイトを使って開発してます。そこで、自分で開発して、Pull Requestを送るという選択肢がありますよ！ <a href="https://github.com/ponkotuy/MyFleetGirls">https://github.com/ponkotuy/MyFleetGirls</a></p>
    <p>称号とかはかなり簡単に追加できるのではないかと思いますよ？是非是非</p>
    <p>※ただし、内容によっては Reject されたり修正を求めたりすることもあります。( 追加する事でデメリットがある場合・開発方針と合わない場合等 )</p>
  }
}
